<div class="well well-lg" id="index-well">
	<h1 id="index-title">Now You're Talkin My Langauge!</h1>
</div>

<div class="container sign-buttons-container">
	<p>
	  <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large main-sign-in' %>
	  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large main-sign-up' %>
	</p>
</div>	