h1#index-title {
  text-align: center;
  font-size: 50px;
  color: black;
}

div#index-well {
	margin: 25px 75px 25px 75px;
}

div#about-well {
	margin: 25px 75px 25px 75px;
}

.main-sign-in {
	width: 200px;
	text-align: center;
}

.main-sign-up {
	width: 200px;
}

.sign-buttons-container {
  text-align: center;
  font-size: 50px;
}